@import "../../styles/themes";

$arrow-size: 12px;

.dialog-node {
  position: absolute;
  top: 0;
  height: 0;
  z-index: 2147483647;
}

.l3-style-tooltip-arrow {
  // width: $arrow-size;
  // height: $arrow-size;
  position: absolute;
  border-radius: 2px;
  // background-color: var(--secondary-background-color);

  svg {
    position: absolute;
  }

  &[data-placement*="bottom"] {
    top: -4px;
    right: calc(50% - 14px);
  }

  &[data-placement*="top"] {
    bottom: -4px;
    rotate: 180deg;
    left: calc(50% - 14px);
  }
  &[data-placement*="left"] {
    left: -16px;
    rotate: 270deg;
    bottom: calc(50% - 2px);
  }

  &[data-placement*="right"] {
    right: -15px;
    rotate: 90deg;
    bottom: calc(50% - 2px);
  }
}
