@import "../../styles/global-css-settings";
@import "../../styles/typography";
@import "../../styles/themes";
@import "../../styles/keyframes";
@import "../../styles/typography/display-typography";
@import "../../styles/typography/main-typography";
@import "../../styles/typography/typography";

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .title {
    width: fit-content;
    height: fit-content;
    @include typography-heading-small;
    color: $white;
  }

  .icon {
    vertical-align: middle;
    margin-right: var(--spacing-small);
  }

  .description {
    width: fit-content;
    height: fit-content;
    @include typography-heading-xs-small;
    color: $white-6;
    margin-top: -25px;
  }

  .closeButton {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
