@import "../../styles/global-css-settings";
@import "../../styles/theme-mixin";

.loaderContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .circleLoaderSpinnerBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    @include theme-prop(color, loader-stroke-color);
  }

  .circleLoaderSpinner {
    animation: rotate 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    stroke: currentColor;
    stroke-linecap: round;

    .circleLoaderSpinnerPath {
      animation: dash 1s infinite;
    }
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}

.loaderLabel {
  @include theme-prop(color, loader-label-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  margin-top: calc(100% + 10px);
}
