[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "==0.27.9"
langchain = "==0.0.266"
fastapi = {extras = ["all"], version = "==0.99.1"}
requests = "==2.31.0"
pydantic = "==1.10.11"
psycopg = "==3.1.9"
jupyter-client = "==8.3.0"
snakemq = "==1.6"
pandas = "==2.0.3"
matplotlib = "==3.7.2"
pillow = "==10.0.0"
gql = "*"
azure-messaging-webpubsubservice = "==1.0.1"
azure-identity = "==1.13.0"
faiss-cpu = "==1.7.4"
google-search-results = "==2.4.2"
uuid = "==1.30"
sentry-sdk = {version = "==1.26.0", extras = ["fastapi"]}
dateparser = "==1.1.8"
psycopg2 = "*"
psycopg2-binary = "*"
arxiv = "*"
duckduckgo-search = "*"
wikipedia = "*"
langchain-experimental = "==0.0.9"
zep-python = "*"
llama-index = "*"
sqlalchemy = "*"
fastapi-sqlalchemy = "*"
alembic = "*"
nltk = "*"
ipython = "*"
tiktoken = "*"
requests-toolbelt = "*"
oauth2client = "*"
fastapi-jwt-auth = "*"
strawberry-graphql = {extras = ["fastapi"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
