.ag-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.no-border .ag-header {
  border-bottom: none !important;
}

.ag-header-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.ag-header-cell:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.ag-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
  background-color: transparent;
}

.no-border .ag-cell {
  border-right: none !important;
}

.ag-row {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  background: transparent;
}

.ag-row:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.no-border .ag-row {
  border-bottom: none;
}

.no-border {
  border: none !important;
  outline: none !important;
}

.add-row-edit-button {
  border: none !important;
  outline: none !important;
}

.add-row-edit-button .ag-cell {
  border: none !important;
  outline: none !important;
}

.ag-cell-range-single-cell:not(.ag-cell-inline-editing) {
  border: 1px solid #0096ff !important;
}
.ag-cell-range-selected {
  border: unset !important;
}

.ag-theme-alpine {
  /* --ag-foreground-color: transparent; */
  --ag-background-color: rgba(0, 0, 0, 0.1);
  /* --ag-header-foreground-color: transparent; */
  --ag-header-background-color: transparent;
  --ag-odd-row-background-color: transparent;
  --ag-header-column-resize-handle-color: transparent;
  --ag-borders: none;
}
.ag-root-wrapper {
  border-radius: 24px;
  /* padding: 2px 12px; */
}

.ag-root ::-webkit-scrollbar {
  width: 6px;
  height: 6px;

  border-radius: 100px;
}
/* .ag-root ::-webkit-scrollbar-button {
  background: #ccc;
} */
.ag-root ::-webkit-scrollbar-track-piece {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}

.ag-root ::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 100px;
}

.ag-popup-editor {
  background-color: transparent;
}

.ag-row-selected {
  background-color: rgba(0, 0, 0, 0.2);
}

/* .ag-theme-alpine .popup {
  background-color: red;
} */
/* background: rgba(0, 0, 0, 0.1);
border-radius: 8px; */

.ag-theme-alpine .ag-menu {
  /* background: red !important; */
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);

  border-radius: 6px;

  color: #fff !important;

  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 16px !important;

  box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
}
.ag-theme-alpine .ag-menu-header {
  background: rgba(0, 0, 0, 0.2);
  color: #fff !important;
}

/* .ag-menu-option-text {
} */

.ag-virtual-list-viewport .scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.ag-column-drop-horizontal {
  /* border-radius: 100px; */
  height: 70px;
  background: transparent;

  color: #fff !important;

  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 16px !important;
}
.ag-theme-alpine .ag-column-drop-empty-message,
.ag-theme-alpine-dark .ag-column-drop-empty-message {
  opacity: 1;
  color: #fff;
}

.ag-header-cell-text {
  color: #fff;
}
.ag-cell-wrapper {
  color: #fff;
}
.ag-cell .ag-icon {
  color: #fff;
}
.ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
  height: 6px !important;
}

.ag-cell-wrapper.ag-row-group {
  align-items: center;
}

.ag-cell-wrap-text {
  white-space: normal;
  word-break: normal;
}

/* .ag-cell-range-selected-1:not(.ag-cell-focus),
.ag-root:not(.ag-context-menu-open)
  .ag-body-viewport:not(.ag-has-focus)
  .ag-cell-range-selected-1:not(.ag-cell-inline-editing) {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.ag-cell-range-selected:not(.ag-cell-focus),
.ag-body-viewport:not(.ag-has-focus) .ag-cell-range-single-cell:not(.ag-cell-inline-editing) {
  background-color: rgba(0, 0, 0, 0.2) !important;
} */

.ag-cell-range-single-cell {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.ag-cell-range-single-cell:not(.ag-cell-inline-editing) {
  /* border: none !important; */
}
