@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/states";
@import "../../styles/global-css-settings";

.input-component {
  position: relative;
  box-sizing: border-box;
  font-family: var(--font-family);
  width: 100%;

  & * {
    box-sizing: border-box;
  }

  .input-component__label--wrapper {
    width: 100%;
  }

  .input-component__sub-text-container {
    display: flex;
    @include font-input();
    @include theme-prop(color, secondary-text-color);
    .input-component__sub-text-container-counter {
      margin-left: auto;
    }
  }

  &.input-component--disabled {
    .input-component__icon {
      cursor: not-allowed;
    }
    .input-component__input-wrapper {
      cursor: not-allowed;
      .input-component__input {
        user-select: none;
        border: none;
        pointer-events: none;
        @include theme-prop(background-color, disabled-background-color);
        cursor: not-allowed;

        &::placeholder {
          @include theme-prop(color, disabled-text-color);
        }
      }
      .input-component__icon--container.input-component__icon--container-has-icon {
        &:hover {
          background-color: red;
        }
      }
    }
  }

  &.input-component--light-disabled {
    .input-component__icon {
      cursor: not-allowed;
    }
    .input-component__input-wrapper {
      cursor: not-allowed;
      .input-component__input {
        user-select: none;
        border: 4px solid rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.2);
        cursor: not-allowed;

        &::placeholder {
          color: rgba(0, 0, 0, 0.4);
        }
      }
      .input-component__icon--container.input-component__icon--container-has-icon {
        &:hover {
          background-color: red;
        }
      }
    }
  }

  .input-component__input-wrapper {
    width: 100%;
    position: relative;

    .input-component__input {
      width: 100%;
      height: 100%;
      outline: 0;
      background-color: transparent;
      border: 2px solid transparent;

      font-weight: 500;
      // @include theme-prop(border-color, ui-border-color);
      border-radius: $border-radius-small;
      transition: border-color var(--motion-productive-medium) ease-in;
      padding: $spacing-small $spacing-medium;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include theme-prop(color, text-field-value-color, true);
      @include theme-prop(background-color, text-field-bg-color);
      &.input-component__input--hover {
        @include theme-prop(border-color, primary-text-color);
      }
      &:focus,
      &:active,
      &.input-component__input--active {
        @include theme-prop(color, text-field-placeholder-color);
        @include theme-prop(border-color, text-field-active-border-color);
      }

      &::placeholder {
        @include theme-prop(color, text-field-placeholder-color);
      }

      &.input-component__input--has-icon {
        padding: $spacing-small $spacing-large $spacing-small $spacing-medium;
      }

      &.input-component__input--round {
        border-radius: 50px;
      }
      &.input-component__input--square {
        border-radius: 0;
      }
      &.input-component__input--only-underline {
        border-left: none;
        border-right: none;
        border-top: none;
        padding: $spacing-small $spacing-large $spacing-small $spacing-xs;
        border-radius: 0 !important;
      }
    }

    .input-component__icon--container {
      position: absolute;
      top: 50%;
      right: 18px;
      width: $text-field-icon-container-size-lg;
      height: $text-field-icon-container-size-lg;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $border-radius-big;
      opacity: 0;
      pointer-events: none;
      &:active,
      &:focus,
      &:focus-visible {
        outline: none;
        @include theme-prop(background-color, primary-background-hover-color);
      }
      -webkit-appearance: none;

      &.input-component__icon--container-active {
        &.input-component__icon--container-has-icon {
          pointer-events: all;
          cursor: pointer;
        }
        opacity: 1;
        .input-component__icon {
          opacity: 1;
          pointer-events: all;
          transform: rotate(0) scale(1);
        }
      }
      &.input-component__icon--container-has-icon:hover,
      &.input-component__icon--container-has-icon:focus-within {
        @include theme-prop(background-color, primary-background-hover-color);
      }
      .input-component__icon {
        transform: rotate(90deg) scale(0.8);
        @include theme-prop(color, icon-color);
        will-change: transform;
        pointer-events: none;
        transition: color var(--motion-productive-short) var(--motion-timing-enter),
          transform var(--motion-productive-short) var(--motion-timing-enter);
        font-size: 14px;
      }
    }

    &.input-component__input--error-validation {
      &:hover {
        .input-component__input {
          @include theme-prop(border-color, border-negative);
        }
      }
      .input-component__input {
        @include theme-prop(border-color, border-negative);
        @include theme-prop(color, negative-text-color, true);
        &:focus,
        &:active {
          @include theme-prop(border-color, border-negative);
        }
      }
      .input-component__icon--container .input-component__icon {
        @include theme-prop(color, negative-color);
        &:hover {
          @include theme-prop(color, negative-color);
        }
      }
      + .input-component__sub-text-container {
        .input-component__sub-text-container-status {
          @include theme-prop(color, negative-color);
        }
      }
    }

    &.input-component__input--success-validation {
      &:hover {
        .input-component__input {
          @include theme-prop(border-color, border-positive);
        }
      }
      .input-component__input {
        @include theme-prop(border-color, border-positive);
        @include theme-prop(color, positive-text-color, true);

        &:focus,
        &:active {
          @include theme-prop(border-color, border-positive);
        }
      }
      .input-component__icon--container .input-component__icon {
        @include theme-prop(color, positive-color);
        &:hover {
          @include theme-prop(color, positive-color);
        }
      }
      + .input-component__sub-text-container {
        .input-component__sub-text-container-status {
          @include theme-prop(color, positive-color);
        }
      }
    }

    &.input-component__input-wrapper--size-small {
      height: $text-field-size-small;
      .input-component__input {
        @include font-input();
        &.input-component__input--has-icon {
          &.input-component__input--only-underline {
            padding-left: $spacing-xs;
          }
        }
      }
    }

    &.input-component__input-wrapper--size-medium {
      height: $text-field-size-medium;
      .input-component__input {
        @include font-paragraph();
        &.input-component__input--has-icon {
          padding: $spacing-small $spacing-xl $spacing-small $spacing-medium;
          &.input-component__input--only-underline {
            padding-left: 4px;
          }
        }
      }
      .input-component__icon--container {
        pointer-events: none;
        height: 14px;
        width: 14px;
        outline: none;

        .input-component__icon {
          font-size: var(--font-size-paragraph);
        }

        &:hover + .input-component__icon--container + .input-component__input {
          @include theme-prop(border-color, primary-text-color);
        }
      }
    }

    &.input-component__input-wrapper--size-large {
      height: $text-field-size-large;
      .input-component__input {
        @include font-paragraph();
        &.input-component__input--has-icon {
          padding: $spacing-small $spacing-xl $spacing-small $spacing-medium;
          &.input-component__input--only-underline {
            padding-left: $spacing-xs;
          }
        }
      }
      .input-component__icon--container {
        height: fit-content;
        width: fit-content;
        .input-component__icon {
          font-size: var(--font-size-paragraph);
        }
      }
    }

    &.input-component__input-wrapper--size-medium {
      .input-component__icon--container {
        height: fit-content;
        width: fit-content;
        .input-component__icon {
          font-size: var(--font-size-paragraph);
        }
      }
    }
    &.input-component__input-wrapper--size-small {
      .input-component__icon--container {
        height: fit-content;
        width: fit-content;
        .input-component__icon {
          font-size: var(--font-size-paragraph);
        }
      }
    }

    // &:hover {
    //   .input-component__input {
    //     @include theme-prop(border-color, primary-text-color);
    //   }
    // }

    .input-component__loader--container {
      position: absolute;
      top: 50%;
      right: 4px;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;

      &.input-component__loader--container-has-icon {
        right: 32px;
      }

      .input-component__loader {
        width: 16px;
        height: 16px;

        .input-component__loader-svg {
          width: 50%;
          height: 50%;
          @include theme-prop(color, secondary-text-color);
        }
      }
    }
  }

  .input-component__input-wrapper {
    width: 100%;
    position: relative;

    .input-component__input--light {
      width: 100%;
      height: 100%;
      outline: 0;
      border: 3px solid rgba(0, 0, 0, 0.1);

      font-weight: 500;
      // @include theme-prop(border-color, ui-border-color);
      border-radius: 8px;
      transition: border-color var(--motion-productive-medium) ease-in;
      padding: $spacing-small $spacing-medium;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: rgb(0, 0, 0);
      background: rgba(255, 255, 255, 1);
      // @include theme-prop(background-color, text-field-bg-color);
      &.input-component__input--hover {
        box-shadow: rgba(0, 0, 0, 0.25);
        color: rgb(0, 0, 0);
        background: rgba(255, 255, 255, 1);
      }
      &:focus,
      &:active,
      &.input-component__input--active {
        background: rgba(255, 255, 255, 1);
        border: 4px solid rgba(0, 0, 0, 1);
        color: rgba(0, 0, 0, 1);
      }

      &::placeholder {
        // @include theme-prop(color, text-field-placeholder-color);
        color: rgba(0, 0, 0, 0.3);
      }

      &.input-component__input--has-icon {
        padding: $spacing-small $spacing-large $spacing-small $spacing-medium;
      }

      &.input-component__input--round {
        border-radius: 50px;
      }
      &.input-component__input--square {
        border-radius: 0;
      }
      &.input-component__input--only-underline {
        border-left: none;
        border-right: none;
        border-top: none;
        padding: $spacing-small $spacing-large $spacing-small $spacing-xs;
        border-radius: 0 !important;
      }
    }

    .input-component__icon--container-light {
      position: absolute;
      top: 50%;
      right: 18px;
      width: $text-field-icon-container-size-lg;
      height: $text-field-icon-container-size-lg;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $border-radius-big;
      opacity: 0;
      pointer-events: none;
      &:active,
      &:focus,
      &:focus-visible {
        outline: none;
        @include theme-prop(background-color, primary-background-hover-color);
      }
      -webkit-appearance: none;

      &.input-component__icon--container-active {
        &.input-component__icon--container-has-icon {
          pointer-events: all;
          cursor: pointer;
        }
        opacity: 1;
        .input-component__icon {
          opacity: 1;
          pointer-events: all;
          transform: rotate(0) scale(1);
        }
      }
      &.input-component__icon--container-has-icon:hover,
      &.input-component__icon--container-has-icon:focus-within {
        @include theme-prop(background-color, primary-background-hover-color);
      }
      .input-component__icon {
        transform: rotate(90deg) scale(0.8);
        @include theme-prop(color, icon-color);
        will-change: transform;
        pointer-events: none;
        transition: color var(--motion-productive-short) var(--motion-timing-enter),
          transform var(--motion-productive-short) var(--motion-timing-enter);
        font-size: 14px;
      }
    }

    &.input-component__input--error-validation {
      &:hover {
        .input-component__input--light {
          // @include theme-prop(border-color, border-negative);
          border: 4px solid rgba(239, 85, 51, 1);
        }
      }
      .input-component__input--light {
        border: 4px solid rgba(239, 85, 51, 1);
        color: rgb(0, 0, 0);
        &:focus,
        &:active {
          border: 4px solid rgba(239, 85, 51, 1);
        }
      }
      .input-component__icon--container .input-component__icon-light {
        color: gray;
        &:hover {
          color: black;
        }
      }
      .input-component__sub-text-container {
        .input-component__sub-text-container-status {
          @include theme-prop(color, negative-color);
        }
      }
    }

    &.input-component__input--success-validation {
      &:hover {
        .input-component__input--light {
          border: 4px solid rgba(23, 197, 104, 1);
        }
      }
      .input-component__input--light {
        border: 4px solid rgba(23, 197, 104, 1);
        color: rgb(0, 0, 0);

        &:focus,
        &:active {
          border: 4px solid rgba(23, 197, 104, 1);
        }
      }
      .input-component__icon--container .input-component__icon-light {
        color: gray;
        &:hover {
          color: black;
        }
      }
      + .input-component__sub-text-container {
        .input-component__sub-text-container-status {
          @include theme-prop(color, positive-color);
        }
      }
    }

    &.input-component__input-wrapper--size-small {
      height: $text-field-size-small;
      .input-component__input {
        @include font-input();
        &.input-component__input--has-icon {
          &.input-component__input--only-underline {
            padding-left: $spacing-xs;
          }
        }
      }
    }

    &.input-component__input-wrapper--size-medium {
      height: $text-field-size-medium;
      .input-component__input {
        @include font-paragraph();
        &.input-component__input--has-icon {
          padding: $spacing-small $spacing-xl $spacing-small $spacing-medium;
          &.input-component__input--only-underline {
            padding-left: 4px;
          }
        }
      }
      .input-component__icon--container {
        pointer-events: none;
        height: 14px;
        width: 14px;
        outline: none;

        .input-component__icon {
          font-size: var(--font-size-paragraph);
        }

        &:hover + .input-component__icon--container + .input-component__input {
          @include theme-prop(border-color, primary-text-color);
        }
      }
    }

    &.input-component__input-wrapper--size-large {
      height: $text-field-size-large;
      .input-component__input {
        @include font-paragraph();
        &.input-component__input--has-icon {
          padding: $spacing-small $spacing-xl $spacing-small $spacing-medium;
          &.input-component__input--only-underline {
            padding-left: $spacing-xs;
          }
        }
      }
      .input-component__icon--container {
        height: fit-content;
        width: fit-content;
        .input-component__icon {
          font-size: var(--font-size-paragraph);
        }
      }
    }

    &.input-component__input-wrapper--size-medium {
      .input-component__icon--container {
        height: fit-content;
        width: fit-content;
        .input-component__icon {
          font-size: var(--font-size-paragraph);
        }
      }
    }
    &.input-component__input-wrapper--size-small {
      .input-component__icon--container {
        height: fit-content;
        width: fit-content;
        .input-component__icon {
          font-size: var(--font-size-paragraph);
        }
      }
    }

    // &:hover {
    //   .input-component__input {
    //     @include theme-prop(border-color, primary-text-color);
    //   }
    // }

    .input-component__loader--container {
      position: absolute;
      top: 50%;
      right: 4px;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;

      &.input-component__loader--container-has-icon {
        right: 32px;
      }

      .input-component__loader {
        width: 16px;
        height: 16px;

        .input-component__loader-svg {
          width: 50%;
          height: 50%;
          @include theme-prop(color, secondary-text-color);
        }
      }
    }
  }
}

.input-component .input-component__input-wrapper .input-component__icon--container .input-component__icon {
  font-family: var(--font-family);
}

.input-component
  .input-component__input-wrapper.input-component__input-wrapper--size-medium
  .input-component__icon--container
  .input-component__icon {
  font-family: var(--font-family);
}

.input-component
  .input-component__input-wrapper.input-component__input-wrapper--size-large
  .input-component__icon--container
  .input-component__icon {
  font-family: var(--font-family);
}

.search__main_wrapper {
  width: 40px;
  transition: all ease 1s;
}

.search__visible {
  width: 200px;
}

.search_component_wrapper {
  .search-wrapper {
    .search_icon {
      right: 0;
      &:focus,
      &:active,
      &.input-component__input--active {
        background: transparent !important;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.2) !important;
      }
      .icon_component {
        color: #fff;
      }
    }
    .search_component {
      border-radius: 60px;
    }
  }

  .search-wrapper-visible {
    .search_icon {
      &:hover {
        background: unset !important;
      }
    }
    .search_component {
      visibility: visible;
      opacity: 1;
      position: absolute;
      width: 100%;
      right: 0;
      transition: all ease 1s;
    }
  }
  .search-wrapper-hidden {
    .search_component {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      width: 0;
      right: 0;
      transition: all ease 1s;
    }
  }
}
