@import "../../styles/content-spacing";
@import "../../styles/mixins";
@import "../../../styles/global-css-settings";
@import "../../../styles/typography";
@import "../../../styles/themes";
@import "../../../styles/states";
@import "../../../styles/typography/typography";

.l3-storybook-typography {
  &_image-container {
    display: flex;
    justify-content: center;

    &--first {
      margin-bottom: $spacing-between-section-items;
    }
  }

  &_popup-example {
    height: 404px;
  }

  &_timeline-example {
    height: 179px;
    width: 527px;
  }
}

.label {
  &_large {
    @include typography-label-large;
  }
  &_medium {
    @include typography-label-medium;
  }
  &_small {
    @include typography-label-small;
  }
  &_xs-small {
    @include typography-label-xs-small;
  }
}

.paragraph {
  &_large {
    @include typography-paragraph-large;
  }
  &_medium {
    @include typography-paragraph-medium;
  }
  &_small {
    @include typography-paragraph-small;
  }
  &_xs-small {
    @include typography-paragraph-xs-small;
  }
}
