@import "../../styles/global-css-settings";
@import "../../styles/typography";
@import "../../styles/themes";
@import "../../styles/states";
@import "../../styles/typography/typography";

.wrapper {
  width: fit-content;
  height: fit-content;
  display: inline-flex;
}
.referenceWrapper {
  display: inline-flex;
}
.iconButtonContainer {
  display: grid;
  grid-auto-flow: row;
  max-width: fit-content;
  gap: 10px;
  text-align: center;
}
.label_styles_large {
  @include typography-label-large;
}
.label_styles_small {
  @include typography-label-small;
}
.l3_style_square_button {
  --loader-padding: 8px;
  outline: none;
  border: none;
  height: auto;
  border-radius: $border-radius-extra-small;
  cursor: pointer;
  white-space: nowrap;
  transition: var(--motion-productive-short) transform,
    var(--motion-productive-medium) var(--motion-timing-transition) min-width;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.l3_style_circle_button {
  --loader-padding: 8px;
  outline: none;
  border: none;
  height: auto;
  border-radius: $border-radius-big;
  cursor: pointer;
  white-space: nowrap;
  transition: var(--motion-productive-short) transform,
    var(--motion-productive-medium) var(--motion-timing-transition) min-width;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
