@import "../../../styles/themes";
@import "../../../styles/typography";

.l3-style-menu {
  margin: unset;
  padding: unset;
  &:focus {
    outline: none;
  }

  &--small {
    width: 200px;
  }

  &--medium {
    width: 220px;
  }

  &--large {
    width: fit-content;
  }

  &--collapsed {
    width: fit-content;
  }
}

.l3-menu {
  &--collapsed {
    width: fit-content;
  }
}
