.l3-storybook-accordion_small-wrapepr {
  width: 300px;
  border: none;
}

.l3-storybook-accordion_small-wrapepr svg {
  display: none;
}
.l3-storybook-accordion_small-wrapepr .expand-collapse {
  border: none;
}

.spotlight_overlay,
.spotlight_modal_container {
  background: unset !important;
  backdrop-filter: unset !important;
  border-radius: 16px !important;
}

.spotlight_modal_container {
  /* min-width: 50vw;
  min-height: 65vh; */
  /* overflow: hidden; */
  ::-webkit-scrollbar {
    display: none;
  }
}
