@import "../../../styles//global-css-settings";
@import "../../../styles/theme-mixin";

.datePickerHeader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  .button {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    margin-left: $spacing-xs;
    cursor: pointer;

    .buttonContent {
      border-radius: $border-radius-extra-big;
      width: $spacing-large;
      height: $spacing-large;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      transition: all 0.1s ease;

      color: var(--color-primitive-white);
      &:hover {
        background-color: var(--color-primitive-black);
        text-decoration: none;
      }
    }
  }
}

.heading {
  font-size: 20px;
  line-height: 28px;
  margin: 0px;
}
